{% extends "users/base.html" %} {% block content %}

<h1 class="title">Cadastro de Usuários</h1>

<form class="box section" action="{% url 'list_users' %}" method="post">
  {% csrf_token %}

  <div class="field">
    <label class="label" for="name">Nome</label>
    <input class="input" type="text" name="name" id="name" />
  </div>

  <div class="field">
    <label class="label" for="yers">Idade</label>
    <input class="input" type="text" name="yers" id="yers" />
  </div>

  <button class="button is-primary" type="submit">Enviar</button>
</form>

{% endblock content %}
